*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.container{
  text-align: center;
}

.item{
  display: inline-block;
  background-size: cover;
  background-position: center center;
  border: 10px solid white;
  width: calc(100vw - 20px);
  height: 100vh;
}

.item:nth-of-type(1n+2){
  border-top: 0;
  height: calc(100vh - 10px);
}

.roma{
  background-image: url(../img/roma.jpg);
}

.napoli{
  background-image: url(../img/napoli.jpg);
}

.milano{
  background-image: url(../img/milano.jpg);
}

.filter {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  /* filtro per oscurare lo sfondo, con accentuazione di rosso e blu */
  background-color: rgba(20,0,20,0.6)
}

a h1{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 60px;
  text-shadow: 5px 5px black;
}

a h1:hover{
  text-shadow: 5px 5px #444;
}
