*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.container{
  background-color: #222233;
  margin: auto;
  text-align: center;
}

.item{
  display: inline-block;
  width: calc(100vw - 20px);
  height: 100vh;
  background-size: cover;
  border: 10px solid white;
}

.item:nth-of-type(1n+2){
  border-top: 0;
}

.filter{
  width: 100%;
  height:100%;
  background-color: rgba(20,0,20,0.6)
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

a h1{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 60px;
}

.roma{
  background-image: url(../img/roma.jpg);
}

.napoli{
  background-image: url(../img/napoli.jpg);
}

.milano{
  background-image: url(../img/milano.jpg);
}
