*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 800px;
  background-color: #222233;
  margin: auto;
  text-align: center;
  padding: 50px;
}

.item{
  display: inline-block;
  width: 500px;
  height: 350px;
  background-size: cover;
  border: 10px solid white;
}

.filter{
  width: 100%;
  height:100%;
  background-color: rgba(20,0,20,0.6)
}

a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

a h1{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

div.roma{
  background-image: url(../img/roma.jpg);
}

div.napoli{
  background-image: url(../img/napoli.jpg);
}

div.milano{
  background-image: url(../img/milano.jpg);
}
